/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2018, 11:27:56
    Author     : ZeXVex
*/

.root{
    -fx-background-color: #2C2B2A;
}

.name{
    -fx-text-fill: #254AFF;
}

.buttons{
    -fx-text-fill: #254AFF;
}

.textField{
    -fx-text-fill: #FAD200;
    -fx-prompt-text-fill:#FAD200;
}

.absent{
    -fx-text-fill: #FAD200;
}

.listView{
    -fx-text-fill: #FAD200;
    -fx-background-color: #2C2B2A;
}

.combobox{
    -fx-promp-text-fill: #254AFF;
    -fx-background-color: #2C2B2A;
}