/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2018, 11:27:56
    Author     : ZeXVex
*/

.root{
    -fx-background-color: #2C2B2A;
    -fx-text-fill: #4B24E3;
}

.name{
    -fx-text-fill: #4B24E3;
}

.buttons{
    -fx-text-fill: #FAD200;
    -fx-background-color: #302F2E;
}
